p {font-weight: bold}
div {border-color:lightblue;border-style: solid; border-width: 2px;}
.Tigey {background-color: lightblue;margin: 40px; padding: 20px;border-width:  2px; border-color: cadetblue;}
.fun-facts {background-color: gold;margin: 40px;padding: 20px;border-width: 2px;border-color: indianred;}
#chess {background-color: lightblue;margin: 40px;padding: 20px;border-width:  2px;border-color: cadetblue;font-weight: bold;}
.NYC{background-color: lightblue;margin: 40px;padding: 20px;border-width: 2px;border-color: cadetblue;font-weight: bold;}
